body{
	margin:0;
	padding: 0;
	background: #ddd;
	
}

.container{
	  background-color: #fff;
	  border: 1px solid #999;
		margin-right: 35px;
	  margin-left: 35px;
}

ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    border-top: 1px solid #dde;
    
}

li {
	  
    float: left;
}

li a {
    display: block;
    color: #666;
	  font-weight: bold; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	 
}

li a:hover{
    color: #096;
}

.active a:hover{
    background-color: inherit;
}

.header{
	height: 100px;
	width: 100%;
}

.header p {
	display: inline-block;
	margin:0;
	color: #09f;
	font-style: oblique;
	font-weight: bold; 
}
.background{
	background-repeat: no-repeat;
	background-image: url("image1.jpg");
	background-size: 100% 500px;
    filter: grayscale(50%);
	}

.links ul{
border:none;
	
}
.links li{
	background-color: royalblue;
	border: 1px solid #eee;
}

.links{
	margin: 23%;
	max-width: 35%;
	height: 70px;

}

.links a{
    padding-right: 15px;
	  color: white;
	  text-decoration: none;
	  
}



.links a:hover{
	background-color: white;
	color: black;
	padding: 16px 16px;
	font-family: Lucida Console;
	
}

.background h3{
	color: white;
	background: black;
	font-family: Lucida Console;
	font-size: 20px;
	width: 14%;
	padding: 40px;
	border: 1px solid #eee;
}

.description{
	
	background-color: white;
}

.upper{
	width: 40%;
	height: 150px;
	margin-top: 120px;
	margin-left: 30%;
	color: black;
}

.upper h3{
	font-size: 35px;
	font-weight: 400;
	font-family: Century Gothic;
}

.upper p{
	font-size: 18px;
	color: #777;
	margin-top: -15px;
}
.upper h3 ,p{
	text-align: center;
}

.leftdesc{
	display: inline-block;
	margin-left: 85px;
	width: 16%;
	height: 210px;
	margin-top: 120px;
	color: black;
}



.bottomdesc{
	display: inline-block;
	margin-left: 85px;
	width: 16%;
	height: 220px;
	margin-top: 100px;
	color: black;
	text-align: center;
}

.bottomdesc h3 ,p ,a{
	  font-family: Century Gothic;
	  padding: 10px;
}

.bottomdesc p{
	color: #777;
}

.bottomdesc a{
	padding: 10px;
	text-decoration:  none;
	color: black;
	font-size: 18px; 
}

.bottomdesc a:hover{
	background: #333;
	color: white;
}

.footer{
	margin-top: 140px;
	max-width: 100%;
	height: 300px;
	background: #333;
	color: #fff;
	font-size: 20px;
}

.element{
	display: inline-block;
	text-align: center;
	padding-left: 20px;
	width: 20%;
	margin-top: 50px;
	border-right: solid 1px;
}
.element a{
	display: block;
	font-size: 17px;
	padding:0;
	color: white;
	text-decoration:none;
}

.element h3{
	border-bottom: 1px solid white;
	border-width: 2px;
	font-family: Century Gothic;
}

